<form>
  <div class="form-group">
    <label for="inputTitle">TODO List Title</label>
    <input #inputTitle type="text" class="form-control" id="inputTitle" placeholder="List Title" (keyup)="onKey(inputTitle.id, inputTitle.value)">
  </div>
  <div class="form-group">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Properties
        </mat-panel-title>
        <mat-panel-description>
          Edit extra properties for this List
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Description
          </mat-panel-title>
          <mat-panel-description>
            List description
          </mat-panel-description>
        </mat-expansion-panel-header>
        CONTENT
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Categories
          </mat-panel-title>
          <mat-panel-description>
            List Categories
          </mat-panel-description>
        </mat-expansion-panel-header>
        CONTENT
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Start
          </mat-panel-title>
          <mat-panel-description>
            Date and time the list is valid from
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput [matDatepicker]="startDatepicker" placeholder="Start Date">
          <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            End
          </mat-panel-title>
          <mat-panel-description>
            Date and time the list is valid from
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput [matDatepicker]="endDatepicker" placeholder="Start Date">
          <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reoccuring
          </mat-panel-title>
          <mat-panel-description>
            Set this as a reoccuring task
          </mat-panel-description>
        </mat-expansion-panel-header>
        CONTENT
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Priority
          </mat-panel-title>
          <mat-panel-description>
            Task list priority
          </mat-panel-description>
        </mat-expansion-panel-header>
        CONTENT
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            People
          </mat-panel-title>
          <mat-panel-description>
            People assigned to this todo list
          </mat-panel-description>
        </mat-expansion-panel-header>
        CONTENT
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Notes
          </mat-panel-title>
          <mat-panel-description>
            Extra Notes
          </mat-panel-description>
        </mat-expansion-panel-header>
        CONTENT
      </mat-expansion-panel>
    </mat-expansion-panel>
  </div>
</form>