<nav class="navbar navbar-dark bg-dark">
  <a class="nav-brand" routerLink='/'>
    <img src="../favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
    {{title}}
  </a>
  <a class="nav-item nav-link" routerLink='/Agenda/true'>Todays Agenda</a>
  <a class="nav-item nav-link" routerLink='/AgendaList'>Agenda</a>
  <a class="nav-item nav-link" routerLink='/TodoList'>Todo List</a>
  <a class="nav-item nav-link" routerLink='/TodoListNew'>New Todo List</a>
  <a class="nav-item nav-link" routerLink='/Settings'>Settings</a>
</nav>
<router-outlet></router-outlet>